
/*
 * Buttons
 */
.rn-btn {
  @include rem(padding, 5px 16px);
  @include rem(min-height, 38px);
  @include rem(font-size, 14px);
  @include rem(letter-spacing, 1px);
  @include rem(line-height, 18px);
  @include rem(border-radius, 30px);
  @include font-weight(bold);
  @include flex-centered;
  cursor: pointer;
  position: relative;
  font-family: $font-main;
  text-decoration: none;
  border: 2px solid transparent;
  color: $color-white;
  transition: all 200ms $accelerate-ease;

  &:focus,
  &.has--focus {
    outline: 0;
  }

  // Disabled comes first so active can properly restyle
  &.is--disabled,
  &:disabled {
    @include button-disabled;
  }

  // Opinionated: add 'hand' cursor to non-disabled elements
  &:not(:disabled):not(.is--disabled) {
    cursor: pointer;
  }

  &__reset {
    @include reset-button;
  }

  /**
   * Specif buttons styles
   */
  &__primary {
    border-color: $color-primary;
    background-color: $color-primary;
    color: $color-white;

    @include hover-supported() {
      background-color: darken($color-primary, 10%);
      border-color: darken($color-primary, 10%);
    }

    &--outline {
      border-color: $color-primary;
      background-color: transparent;
      color: $color-primary;

      @include hover-supported() {
        background-color: $color-primary;
        color: $color-white;
      }
    }
  }

  &__link {
    @include rem(font-size, 15px);
    @include font-weight(semi-bold);
    display: inline-block;
    color: $color-primary;
    transition: opacity $transition-duration $transition-function;

    &:hover {
      opacity: 0.65;
    }
  }
}
