
/*
 * Title / Subtitle
 */
.rn-title {
  @include rem(margin-bottom, 15px);
  @include rem(font-size, 22px);
  @include rem(line-height, 25px);
  @include font-weight(semi-bold);
  color: $color-bunting;
  text-align: center;
}

.rn-subtitle {
  @include rem(margin-bottom, 10px);
  @include rem(font-size, 18px);
  @include font-weight(semi-bold);
  color: $color-bunting;
  border-bottom: 1px solid $color-light-grey;
}
