div(class="rn-home__books")
  p(rv-if="app.state.books.isLoading") Carregando...
  ul(rv-if="app.state.books.isLoading | eq false")
    li(rv-each-book="app.state.books.data")
      span(rv-text="book.title")
