div(class="rn-home__books")
  div(rv-if="app.state.books.isLoading")
    include ../loader/_loader.pug
  div(class="rn-home__books--wrap", rv-if="app.state.books.isLoading | eq false")
    include ./_home-book.pug
