
/*
 * Alertify JS
 */
.alertify-notifier {
  @include rem(padding, 0 10px);
  @include rem(max-width, 360px);
  width: 100% !important;

  &.ajs-center {
    transform: translateX(-50%) !important;
  }
}

.ajs {
  &-modal,
  &-dimmer {
    z-index: z('ajs-modal') !important;
  }

  &-message {
    @include rem(border-radius, 4px);
    width: 100% !important;
    display: flex;
    align-items: center;
    left: 0 !important;
    transform: none !important;
    background-color: $color-oyster-bay;
    border: 1px solid $color-mosque;
    color: $color-mosque;
    
    &::before {
      @include rem(margin-right, 8px);
      @include rem(font-size, 20px);
      @extend %iconfont;
      content: '\EA02';
    }
  }

  &-success {
    background-color: $color-swans-down !important;
    border: 1px solid $color-crusoe !important;
    color: $color-crusoe !important;

    &::before {
      content: '\EA01';
    }
  }

  &-error {
    background-color: $color-pale-pink !important;
    border: 1px solid $color-red-berry !important;
    color: $color-red-berry !important;

    &::before {
      content: '\EA04';
    }
  }

  &-warning {
    background-color: $color-china-ivory !important;
    border: 1px solid $color-golden-brown !important;
    color: $color-golden-brown !important;

    &::before {
      content: '\EA03';
    }
  }
}
