div(class="rn-loader")
  div(class="rn-loader__wrap")
    div(class="rn-loader__cube rn-loader__cube1")
    div(class="rn-loader__cube rn-loader__cube2")
    div(class="rn-loader__cube rn-loader__cube4")
    div(class="rn-loader__cube rn-loader__cube3")
  p(class="rn-loader__info", rv-text="app.props.loaderInfo")
