extends ./../_layouts/_base-backoffice.pug

//- Template variables
block vars
  - var $templateName = 'loans'
  - var $templateClass = 'loans'
  - var $pageName = 'Empréstimos'

//- Page styles
block append styles
  link(href=`/assets/css/admin/biblio-${$templateName}.css`, media='all', rel='stylesheet')/

//- Main Content
block content
  include ./../_partials/backoffice/loans/_loans-main.pug

//- Page scripts
block append scripts
  script(src=`/assets/js/admin/biblio-${$templateName}.js`)
