
mixin metaTags()
  meta(charset="UTF-8")
  meta(http-equiv="X-UA-Compatible", content="IE=edge")
  meta(http-equiv="Content-Type", content="text/html;charset=utf-8")
  meta(name="viewport", content="width=device-width, initial-scale=1, user-scalable=no")
  meta(name="theme-color", content="#00ACC1")
  meta(name="description" content="Library book lending and reservation system")
  meta(name="author", content="Rodrigo Nunes")
  meta(name="copyright", content="Biblio")
  meta(name="keywords", content="biblio, library, book, lending, livros, reserva, biblioteca")
  meta(property="og:locale", content="pt_BR")
  meta(property="og:title", content="Biblio")
  meta(property="og:site_name", content="Biblio")
  meta(property="og:description", content="Library book lending and reservation system")
