link(rel='preconnect', href='//cdnjs.cloudflare.com', crossorigin='crossorigin')
link(rel='preconnect', href='//ajax.googleapis.com', crossorigin='crossorigin')
link(rel='preconnect', href='//fonts.google.com', crossorigin='crossorigin')
link(rel='preconnect', href='//www.gstatic.com', crossorigin='crossorigin')
link(rel='preconnect', href='//cdn.jsdelivr.net', crossorigin='crossorigin')