//- External
script(type='text/javascript', src='//ajax.googleapis.com/ajax/libs/webfont/1.6.26/webfont.js')
script(type='text/javascript', src='//cdnjs.cloudflare.com/ajax/libs/rivets/0.9.6/rivets.bundled.min.js')
script(type='text/javascript', src='//cdnjs.cloudflare.com/ajax/libs/fontfaceobserver/2.0.13/fontfaceobserver.js')
script(type='text/javascript', src='//cdnjs.cloudflare.com/ajax/libs/ismobilejs/0.4.1/isMobile.min.js')
script(type='text/javascript', src='//cdnjs.cloudflare.com/ajax/libs/vanilla-lazyload/10.15.0/lazyload.min.js')

//- Local
script(type='text/javascript', src='assets/common/js/biblio-common-globals.js')
script(type='text/javascript', src='assets/js/biblio-general.js')
