//- External
link(href='//cdn.jsdelivr.net/npm/alertifyjs@1.12.0/build/css/alertify.min.css', rel='stylesheet')

//- Local
link(href='assets/common/css/biblio-common-globals.css', rel='stylesheet', media='all')
link(href='assets/css/biblio-general.css', rel='stylesheet', media='all')
