header(class="rn-header js--header")
  div(class="rn-header__container rn-container")
    figure(class="rn-header__logo")
      a(href="/")
        img(src="assets/images/logo.png", alt="Biblio", title="Biblio")
    div(class="rn-header__buttons", rv-if="app.state.user | not")
      a(class="rn-header__signup rn-btn rn-btn__link", href="/register.html") Cadastre-se
      a(class="rn-header__signin rn-btn rn-btn__primary", href="/login.html") Entrar
    div(class="rn-header__user js--header-user", rv-if="app.state.user")
      include ./_header-user-info.pug
    button(
      type="button",
      rv-if="app.state.user",
      class="rn-header__menu rn-btn js--header-menu",
    )
