header(class="rn-header js--header")
  div(class="rn-header__container rn-container")
    figure(class="rn-header__logo")
      img(src="assets/images/logo.png", alt="Biblio", title="Biblio")
    div(class="rn-header__buttons")
      a(class="rn-header__signup rn-btn rn-btn__link", href="/register.html") Cadastre-se
      a(class="rn-header__signin rn-btn rn-btn__primary", href="/login.html") Entrar
