extends ./_layouts/_base.pug

//- Template variables
block vars
  - var $templateName = 'booking'
  - var $templateClass = 'booking'

//- Page styles
block append styles
  link(href=`assets/css/biblio-${$templateName}.css`, media='all', rel='stylesheet')/

//- Main Content
block content
  include ./_partials/booking/_booking-main.pug

//- Page scripts
block append scripts
  script(src=`assets/js/biblio-${$templateName}.js`)
