
.rn-header {
  width: 100%;
  z-index: z('header');
  background-color: $color-white;
  box-shadow: 0 0 10px -6px $color-grey;
  transition: height 200ms $accelerate-ease;

  @include mq('sm') {
    height: $desktop-header-height;
  }

  @include mq('sm', max) {
    height: $mobile-header-height;
  }

  &__container {
    @include rem(padding-top, 10px);
    @include rem(padding-bottom, 10px);
    @include flex-spaced;
    height: 100%;
  }

  &__logo {
    height: 100%;

    @include mq('sm', max) {
      height: 90%;
    }
  }

  &__buttons {
    display: flex;
    align-items: center;
  }

  &__signup {
    @include rem(margin-right, 5px);
    text-decoration: underline;
  }
}
