
.rn-loan__search {
  &--wrap {
    display: flex;
    align-items: center;
    flex-wrap: wrap;

    & > div {
      @include rem(margin, 0 5px 10px);

      @include mq('lg') {
        flex: 1 1 19%;
      }

      @include mq('lg', max) {
        flex: 1 1 30%;
      }

      @include mq('sm', max) {
        flex: 1 1 45%;
      }

      @include mq('xs', max) {
        flex: 1 1 100%;
      }
    }
  }

  &--show {
    @include rem(margin-bottom, 10px);
    padding-left: 0;
    display: flex;
    align-items: center;

    &::before {
      @include rem(margin-right, 5px);
      @extend %iconfont;
      content: '\EA06';
    }
  }

  &--reset {
    text-decoration: underline;
    padding: 0;
  }
}