
body {
  &.has--no-scroll {
    height: 100%;
    overflow: hidden;
  }
}

main {
  @include rem(padding, 20px 0);
  flex: 1 1 auto;

  &:not(.has--no-header) {
    @include rem(margin-top, #{$desktop-header-height});

    @include mq('sm', max) {
      @include rem(margin-top, #{$mobile-header-height});
    }
  }
}
