
/**
* Colors
*/

$color-black          : #000000;
$color-night-rider    : #333333;
$color-raven          : #6c757d;
$color-gainsboro      : #dddddd;
$color-snow           : #fafafa;

$color-charcoal       : #434343;
$color-blue-charcoal  : #212529;

$color-white          : #ffffff;
$color-white-smoke    : #f1f1f1;

$color-primary  : $color-black;
