
/**
* Colors
*/
$color-china-ivory    : #fff3cd;
$color-banana-mania   : #ffeeba;
$color-orange-peel    : #ffa000;
$color-golden-brown   : #856404;

$color-pale-pink      : #f8d7da;
$color-azalea         : #f5c6cb;
$color-red-orange     : #f44336;
$color-persian-red    : #d32f2f;
$color-red-berry      : #721c24;

$color-oyster-bay     : #d1ecf1;
$color-onahau         : #bee5eb;
$color-navy-blue      : #1976d2;
$color-iris-blue      : #00acc1;
$color-mosque         : #0c5460;

$color-swans-down     : #d4edda;
$color-granny-apple   : #c3e6cb;
$color-fruit-salad    : #43a047;
$color-crusoe         : #155724;
$color-dark-cyan      : #009688;

$color-white          : #ffffff;
$color-whisper        : #eeeeee;
$color-white-ice      : #ebeef1;
$color-solitude       : #e2e3e5;
$color-light-grey     : #dddddd;
$color-silver         : #c4c4c4;
$color-mischka        : #a3a7b4;
$color-grey           : #757575;
$color-bismark        : #546e7a;
$color-baltic-sea     : #383d41;
$color-bunting        : #2d3240;
$color-night-rider    : #333333;
$color-black          : #000000;

$color-primary          : $color-iris-blue;
$color-secondary        : $color-bismark;
